
{% extends "bugtrackerApp/base.html" %}

{% block content %}
    <div class="project-list-container">
        <p class="title" style="text-align: center;">Projects {{user.username}} has been assigned to</p>
        <ul>
            {% for project in projects %}
                <li>
                    <div>
                        <a href="{% url 'project-detail' project.id %}">{{project.title}}</a>
                        <div>{{project.last_updated}}</div>
                    </div>
                    <div>
                        <p>{{project.description}}</p>
                    </div>
                </li>
            {%endfor%}
        </ul>
    </div>
    <!-- add sorting features as a sidebar -->
{% endblock content %}