
{% extends "bugtrackerApp/base.html" %}
{% block content %}
    {% for bug in bugs %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ bug.creator }}</a>
            <small class="text-muted">{{ bug.created_at }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ bug.title }}</a></h2>
            <p class="article-content">{{ bug.description }}</p>
        </div>
        </article>
    {% endfor %}
<!-- endblock is the required portion. Adding "content" makes it more comprehensible -->
{% endblock content %}